/*root and .darkMode create base CSS variables to be used with darkMode.js*/
:root {
  --body-bg-primary: rgb(255, 255, 255);
  --body-bg-secondary: ;
  --body-bg-accent: linear-gradient(
    to right,
    rgba(245, 190, 229, 0),
    rgba(245, 190, 229, 0.75),
    rgba(245, 190, 229, 0)
  );
  --card-bg-primary: rgb(193, 212, 229);
  --card-bg-secondary: #f7f7f7;
  --card-bg-title: rgb(255, 227, 204);
  --card-bg-title-border: rgb(246, 221, 95);
  --text-color: rgb(20, 100, 161);
  --text-color-secondary: rgb(10, 160, 184);
  --card-text-border: rgb(20, 15, 24);
  --text-color-title-active: rgb(8, 89, 82);
  --text-accent: rgb(245, 190, 229);
  --skills-title-active: rgb(156, 186, 219);
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.dark__mode {
  --body-bg-primary: linear-gradient(
    to bottom right,
    rgba(195, 55, 100, 0.8),
    rgba(155, 79, 98, 0.5),
    rgba(29, 38, 113, 0.7)
  );
  --body-bg-secondary: ;
  --body-bg-accent: ;
  --card-bg: ;
  --text-color: ;
  --text-color-title: ;
  --text-color-title-active: ;
  --text-color-secondary: ;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-bg-primary);
  color: var(--text-color);
  line-height: 1.6;
  letter-spacing: 0.15em;
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--body-bg-primary);
  z-index: 10;
  padding: 0 0.5em;
}

.nav__logo {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  font-size: 1em;

}

.nav__name {
  padding: 1rem;
  font-size: 1.5em;
  font-weight: bolder;
  border-right: 2px solid var(--text-accent); 
  border-bottom: 1px solid var(--text-accent);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}

.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 4em;
  padding-right: 1em;
}

.nav__list {
  padding: 0 1em;
}

.nav__link {
  font-size: 1.25rem;
  position: relative;
  display: inline-flex;
  z-index: 1;
}

.nav__link:before {
  content: "";
  position: absolute;
  display: flex;
  bottom: 0.15em;
  left: 1.75em;
  height: 25%;
  width: 0;
  z-index: -1;
  transform: skew(-12deg) translateX(-50%);
  background: var(--text-accent);
  transition: 0.4s;
}

.nav__link:hover:before {
  width: calc(100% + 1em);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  background-color: var(--text-accent);
  border-radius: 1.25em;
  transition: all 0.3s;
}

.toggle::after {
  content: '';
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: var(--text-color-secondary);
  top: 2px;
  left: 3px;
  transition: all 0.3s;
}

.nav__toggle:checked + .toggle::after {
  left: 1.5em;
}

.nav__toggle:checked + .toggle {
  background-color: #7983ff;
}

.nav__toggle {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  border: 0;
  width: 70%;
  height: 1px;
  background-image: var(--body-bg-accent);
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  width: 60%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: var(--box-shadow);
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title > p {
  font-size: 2.5rem;
}

.hero {
  padding-top: 15rem;
  width: 70%;
}

.hero__wrapper {
  --gradient-dir: to right;
  position: relative;
  min-height: calc(300px + 15vw);
  display: grid;
}

.hero__wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.9;
  border-radius: 1em;

  background: linear-gradient(
      var(--gradient-dir),
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.995) 8.2%,
      rgba(0, 0, 0, 0.981) 16%,
      rgba(0, 0, 0, 0.958) 23.4%,
      rgba(0, 0, 0, 0.926) 30.4%,
      rgba(0, 0, 0, 0.885) 37.3%,
      rgba(0, 0, 0, 0.835) 43.8%,
      rgba(0, 0, 0, 0.776) 50.2%,
      rgba(0, 0, 0, 0.709) 56.5%,
      rgba(0, 0, 0, 0.633) 62.6%,
      rgba(0, 0, 0, 0.548) 68.7%,
      rgba(0, 0, 0, 0.455) 74.8%,
      rgba(0, 0, 0, 0.354) 81%,
      rgba(0, 0, 0, 0.244) 87.2%,
      rgba(0, 0, 0, 0.126) 93.5%,
      rgba(0, 0, 0, 0) 100%
    )
    left center/100% no-repeat;
}

.hero__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 1em;
}

.hero__container {
  flex: 1;
  display: grid;
  place-content: end start;
  align-content: center;
  width: 100%;
}

.hero__content {
  flex: 1;
  z-index: 2;
  padding: 1rem 0 1rem 1rem;
  max-width: 65ch;
  margin-left: 4.5rem;
  color: rgb(255, 255, 255);
}

.hero__headline {
  color: var(--text-accent);
  background: rgba(0, 0, 0, 0.4);
  font-size: clamp(1.5rem, 6vw, 3rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero__title {
  font-size: clamp(1.35rem, 5vw, 1.75rem);
}

.hero__blurb {
  font-size: clamp(1rem, 4.5vw, 1.25rem);
  font-variant: normal;
}

.emphasis {
  color: var(--text-accent);
  background: rgba(0, 0, 0, 0.4);
  font-size: clamp(1.35rem, 5vw, 1.75rem);
  font-weight: bolder;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.accordian {
  background: var(--card-bg-primary);
  color: var(--card-text-border);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 100%;
  outline: none;
  transition: 0.75s;
}

/* "+" is a sibling combinator -- if .skills__box is directly after .skill__title, do this */
.accordian + .accordian__box {
  display: none;
}

/* Additionally here, same as above but if .is-open is added, then the CSS is now this */
.accordian.is-open + .accordian__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background-color: var(--card-bg-secondary);
  padding-top: 1.5em;
  width: 100%;
  box-shadow: rgb(223, 222, 222) 0px 0px 9px 3px inset;
}

.accordian.is-open {
  border-bottom: 1px solid var(--text-color);
}

.accordian.is-open,
.accordian:hover {
  background-color: var(--skills-title-active);
}

.skill__title__text {
  padding-left: 1em;
}
.skills__list, .experience__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5em;
}

.skill__item > i,
.contact__item > i {
  font-size: 2em;
  font-weight: bold;
  color: var(--card-text-border);
}

.contact__item > span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--card-text-border);
  padding-bottom: 0.75rem;
}

.section__blurb {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-variant: normal;
  padding: 1em 0;
  width: 100%;
  background-color: var(--card-bg-title);
  border-bottom: 1px solid var(--card-text-border);
}
.contact__list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 3em;
  gap: 1.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1.5rem;
}


.scroll__button {
  position: fixed;
  z-index: 99;
  bottom: 1.7em;
  right: 1.5em;
  display: none;
  color: var(--text-color-secondary);
  background-color: var(--text-accent);
  border: none;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-bottom:0.5rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}