/*root and .darkMode create base CSS variables to be used with darkMode.js*/
:root {
  --body-bg-primary: rgb(255, 255, 255);
  --body-bg-secondary: ;
  --body-bg-accent: ;
  --card-bg-primary: rgba(168, 230, 250, 0.35);
  --card-bg-secondary: rgba(245, 190, 229, 0.1);
  --card-bg-border: rgb(24, 32, 32);
  --text-color: rgb(20, 100, 161);
  --text-color-secondary: rgb(10, 160, 184);
  --text-color-title: rgb(23, 70, 126);
  --text-color-title-active: ;
  --text-accent: rgb(245, 190, 229);
  --text-color-accent:rgb(36, 171, 193) ;
  --skills-box: ;
}

.dark__mode {
  --body-bg-primary: linear-gradient(to bottom right, rgba(195, 55, 100, .8), rgba(155, 79, 98, .5), rgba(29, 38, 113, .7)) ;
  --body-bg-secondary: ;
  --body-bg-accent: ;
  --card-bg: ;
  --text-color: ;
  --text-color-title: ;
  --text-color-title-active: ;
  --text-color-secondary: ;
  --skills-box: ;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-bg-primary);
  color: var(--text-color);
  line-height: 1.6;
  letter-spacing: 0.15em;
  font-variant: small-caps;
}

header {
  display: flex;
  justify-content: center;
  align-items:center;
}

.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
}

.nav__bar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--body-bg-primary);
  z-index: 10;
  padding: 0 0.5em;
}

.nav__logo {
  display:flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  font-size: 1em;
}

.nav__name {
  font-size: 1.5em;
  font-weight:bolder;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}



.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__button__toggle, .scroll__button {
/*   align-items: center;
  background-color: var(--text-accent);
  border: 1px solid var(--card-bg-border);
  border-radius: 1em;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  height: 3em;
  justify-content: center;
  line-height: 1.5em;
  max-width: 100%;
  padding: 0 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-variant: small-caps; */
}

/* .nav__button__toggle:after {
  background-color: var(--text-color-accent);
  border-radius: 1em;
  content: "";
  display: block;
  height: 3em;
  left: 0;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translate(0.25em, 0.25em);
  transition: transform .2s ease-out;
  z-index: -1;
}

.nav__button__toggle:hover:after {
  transform: translate(0,0);
}
.nav__button__toggle:active {
  background-color: var(--text-accent);
  outline: 0;
}
.nav__button__toggle:hover {
  outline: 0;
} */

.nav__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  list-style: none;
  gap: 4em;
  padding-right: 1em;
}

.nav__list {
  padding: 0 1em;
}

.nav__link {
  font-size: 1.25em;
  font-weight:bold;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  z-index: 1;
  color: var(--text-color);
}

.nav__link:before {
  content: '';
  position: absolute;
  display: flex;
  bottom: 0.15em;
  left: 1.75em;
  height: 25%;
  width: 0;
  z-index: -1;
  transform: skew(-12deg) translateX(-50%);
  background: var(--text-accent);
  transition: .4s;
}

.nav__link:hover:before {
  width: calc(100% + 1em);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sections {
  padding-top: 10em;
  width:70%;
}

.wrapper {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__container {
  --gradient-dir: to right;
  position: relative;
  min-height: calc(300px + 15vw);
  display: grid;
  border-radius: 1em;
}

.hero__container::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.9;
  border-radius: 1em;
  box-shadow: 0 0 1rem 0 var(--text-accent);
  background: linear-gradient(
      var(--gradient-dir),
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.995) 8.2%,
      rgba(0, 0, 0, 0.981) 16%,
      rgba(0, 0, 0, 0.958) 23.4%,
      rgba(0, 0, 0, 0.926) 30.4%,
      rgba(0, 0, 0, 0.885) 37.3%,
      rgba(0, 0, 0, 0.835) 43.8%,
      rgba(0, 0, 0, 0.776) 50.2%,
      rgba(0, 0, 0, 0.709) 56.5%,
      rgba(0, 0, 0, 0.633) 62.6%,
      rgba(0, 0, 0, 0.548) 68.7%,
      rgba(0, 0, 0, 0.455) 74.8%,
      rgba(0, 0, 0, 0.354) 81%,
      rgba(0, 0, 0, 0.244) 87.2%,
      rgba(0, 0, 0, 0.126) 93.5%,
      rgba(0, 0, 0, 0) 100%
    )
    left center/100% no-repeat;
}

.hero__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 1em;
}

.hero__wrapper {
  flex: 1;
  display: grid;
  place-content: end start;
  align-content: center;
  width: 100%;
}

.hero__content {
  flex: 1;
  z-index: 2;
  padding: 1rem 0 1rem 1rem;
  max-width: 65ch;
  margin-left: 4.5rem;
  color: rgb(255, 255, 255);
}

.hero__headline {
  color: var(--text-accent);
  background:rgba(0, 0, 0, 0.4);
  font-size: clamp(1.5rem, 6vw, 3rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero__title {
  font-size: clamp(1.35rem, 5vw, 1.75rem);
}

.hero__blurb {
  font-size: clamp(1rem, 4.5vw, 1.25rem);
  font-variant: normal;
}

.emphasis {
  color: var(--text-accent);
  background:rgba(0, 0, 0, 0.4);
  font-size: clamp(1.35rem, 5vw, 1.75rem);
  font-weight: bolder;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.section__title {
  font-size: 3rem;
  color: var(--text-color-title);
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill__title {
  background: var(--card-bg-primary);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 100%;
  outline: none;
  transition: 0.5s;
}

/* "+" is a sibling combinator -- if .skills__box is directly after .skill__title, do this */
.skill__title + .skills__box {
  display: none;
}

/* Additionally here, same as above but if .is-open is added, then the CSS is now this */
.skill__title.is-open + .skills__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background-color: var(--card-bg-secondary);
  padding-top: 1.5em;
  width: 100%;
}

.skill__title.is-open {
/*   border-bottom: 1px solid var(--text-color); */
}

.skill__title.is-open,
.skill__title:hover {
/*   background-color: var(--skills-title-active); */
}

.skill__title__text {
  padding-left: 1em;
}
.skills__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5em;
}

.skill__item > i {
  font-size: 2em;
}

.scroll__button {
  position: fixed;
  z-index: 99;
  bottom: 1.7em;
  right: 1.5em;
  display: none;
}

/* controls CSS for screen sizes under traditional tablet threshold */
@media only screen and (max-width: 768px) {
  body {
    letter-spacing: 0.1em;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .skills {
    width: 90%;
  }
  .skill__title.is-open + .skills__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
}

/* The sizes between tablet and small laptops */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .skills {
    width: 70%;
  }
  .skill__title.is-open + .skills__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    font-size: 0.8em;
  }
}
