/*root and .darkMode create base CSS variables to be used with darkMode.js*/
:root {
  --body-bg-primary: linear-gradient(to bottom left, rgb(254, 205, 211), rgb(250, 232, 255), #ddd6fe) ;
  --body-bg-secondary: ;
  --body-bg-accent: ;
  --card-bg: ;
  --text-color: #404040 ;
  --text-color-title: ;
  --text-color-title-active: ;
  --text-color-secondary: ;
  --skills-box: ;
}

.darkMode {
  --body-bg-primary: linear-gradient(to bottom right, rgba(195, 55, 100, .8), rgba(155, 79, 98, .5), rgba(29, 38, 113, .7)) ;
  --body-bg-secondary: ;
  --body-bg-accent: ;
  --card-bg: ;
  --text-color: #f4f4f4 ;
  --text-color-title: ;
  --text-color-title-active: ;
  --text-color-secondary: ;
  --skills-box: ;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  background: var(--body-bg-primary);
  color: var(--text-color);
  line-height: 1.6;
  letter-spacing: 0.15em;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeToggle {
  font-size: inherit;
  font-weight: bold;
/*   background-color: var(--skills-title);
  color: var(--text-color); */
  border: none;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.themeToggle:hover {
/*   background-color: var(--skills-title-active); */
}

.navLists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  list-style: none;
  gap: 4em;
  padding-right: 1em;
}

.navList {
  padding: 0 1em;
}

.navLink {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  z-index: 1;
}

.navLink:before {
  content: '';
  position: absolute;
  display: flex;
  bottom: 0.15em;
  left: 1.75em;
  height: 25%;
  width: 0;
  z-index: -1;
  transform: skew(-12deg) translateX(-50%);
  background: #d3d3d3;
  transition: .4s;
}

.navLink:hover:before {
  width: calc(100% + 1em);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width:50%;
}

.sectionTitle {
  font-size: 2rem;
}

.skills {
  width: 60%;
}

.skillsWrapper,
.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skillTitle {
/*   background: var(--skills-title); */
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 100%;
  outline: none;
  transition: 0.5s;
}

/* "+" is a sibling combinator -- if .skillsBox is directly after .skillTitle, do this */
.skillTitle + .skillsBox {
  display: none;
}

/* Additionally here, same as above but if .is-open is added, then the CSS is now this */
.skillTitle.is-open + .skillsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
/*   background-color: var(--skills-box); */
  padding-top: 1.5em;
  width: 100%;
}

.skillTitle.is-open {
/*   border-bottom: 1px solid var(--text-color); */
}

.skillTitle.is-open,
.skillTitle:hover {
/*   background-color: var(--skills-title-active); */
}

.skillTitleText {
  padding-left: 1em;
}
.skillsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5em;
}

.skillItem > i {
  font-size: 2em;
}

/* controls CSS for screen sizes under traditional tablet threshold */
@media only screen and (max-width: 768px) {
  body {
    letter-spacing: 0.1em;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .skills {
    width: 90%;
  }
  .skillTitle.is-open + .skillsBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
}

#projects {
  height: 50vh;
}

#contact {
  height: 50vh;
}

.scrollBtn {
  position: fixed;
  z-index: 99;
  bottom: 1.7em;
  right: 1.5em;
  display: none;
}

/* The sizes between tablet and small laptops */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .skills {
    width: 70%;
  }
  .skillTitle.is-open + .skillsBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    font-size: 0.8em;
  }
}
